{% load extra %}
{% if user.myuser.profile_picture %}
    <div class="avatar">
        <div class="w-4 sm:w-8 rounded-full">
            <img src="{% thumbnail user.myuser.profile_picture '640' as im %}{{ im.url }}{% endthumbnail %}"
                 srcset="{% thumbnail user.myuser.profile_picture '640' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                 alt="Profile picture of {{ user.username }}"
                 sizes="100vw"
                 width="{{ im.width }}"
                 height="{{ im.height }}"
                 class="w-full" />
        </div>
    </div>
{% else %}
    <div class="avatar placeholder">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-4 sm:w-8">
            <span class="text-xs uppercase sm:text-sm">{{ user.username|ecut }}</span>
        </div>
    </div>
{% endif %}
