<!-- Open the modal using ID.showModal() method -->
<dialog id="likes_modal" class="modal">
    <div class="modal-box pt-0 w-11/12 max-w-lg max-h-5/6 scrollbar-thin scrollbar-thumb-gray-300 scrollbar-thumb-rounded">
        <h3 class="font-bold py-3 text-lg text-center bg-white w-full sticky z-10 top-0">Likes</h3>
        <div id="likes-users-container"></div>
        <!-- HTMX likes indicator -->
        <div id="likes-indicator"
             class="htmx-indicator bg-white flex flex-col justify-center items-center w-full py-3">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <style>.spinner_7WDj{transform-origin:center;animation:spinner_PBVY .75s linear infinite}@keyframes spinner_PBVY{100%{transform:rotate(360deg)}}</style>
                <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25" />
                <circle class="spinner_7WDj" cx="12" cy="2.5" r="1.5" />
            </svg>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
