<!-- New reply -->
<div class="fixed max-w-3xl w-full left-1/2 -translate-x-1/2 bg-white shadow-xl top-full transition-all duration-500 bottom-0 rounded-t-md z-50"
     id="reply-popup">
    <!-- Banner -->
    <div class="flex justify-between px-3 py-4">
        <div class="text-center cursor-pointer" id="reply-close">Cancel</div>
        <div class="text-center font-bold">Reply</div>
        <div class="opacity-0">gibrish</div>
    </div>
    <div class="divider my-0"></div>
    <!-- HTMX indicator -->
    <div class="relative">
        <div id="reply-indicator"
             class="htmx-indicator z-40 bg-white flex flex-col justify-center items-center absolute top-0 left-0 bottom-0 right-0 h-screen">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <style>.spinner_7WDj{transform-origin:center;animation:spinner_PBVY .75s linear infinite}@keyframes spinner_PBVY{100%{transform:rotate(360deg)}}</style>
                <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25" />
                <circle class="spinner_7WDj" cx="12" cy="2.5" r="1.5" />
            </svg>
        </div>
    </div>
    <!-- Page -->
    <div id="reply-container" class="overflow-y-auto my-max-h pb-16"></div>
</div>
