{% load extra %}
<!-- Thread Post -->
<div class="w-full flex px-2 sm:px-4 space-x-2 sm:space-x-4 text-base sm:text-lg">
    <!-- Left -->
    <div class="flex flex-col items-center">
        {% include "partials/components/_profile_picture.html" with u=cmt.parent_comment.user %}
        {% if cmt.parent_comment.comment_count > 0 %}<div class="bg-neutral-content w-[2px] grow my-3 z-10"></div>{% endif %}
    </div>
    <!-- Right -->
    <div class="w-full">
        <!-- Right first row-->
        <div class="flex justify-between py-1">
            <div class="font-semibold text-black">{{ cmt.parent_comment.user.username }}</div>
            <div class="flex items-center space-x-2 sm:pr-2">
                <span class="text-neutral-content">{{ cmt.parent_comment.created_at|time_ago }}</span>
                <span class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </span>
            </div>
        </div>
        <!-- Right text content -->
        <p class="text-base-content font-extralight">{{ cmt.parent_comment.content }}</p>
        <!-- Right Image content if any -->
        {% if cmt.parent_comment.comment_image.all %}
            {% include "accounts/partials/_comment_carousel.html" with cmt=cmt.parent_comment %}
        {% endif %}
        <!-- Action btns -->
        {% include "thread/partials/_thread_actions.html" with username=cmt.parent_comment.user.username id=cmt.parent_comment.id is_cmt=1 %}
        <!-- Replys and likes-->
        <div class="flex text-neutral-content pt-2 space-x-2">
            {% if cmt.parent_comment.comment_count > 0 %}
                <span>{{ cmt.parent_comment.comment_count }}
                    {% if cmt.parent_comment.comment_count > 1 %}
                        replies
                    {% else %}
                        reply
                    {% endif %}
                </span>
                <span>.</span>
            {% endif %}
            <span>{{ cmt.parent_comment.likes_count }} like{{ cmt.parent_comment.likes_count|pluralize }}</span>
        </div>
    </div>
</div>
