{% load extra %}
<!-- Comment -->
<div class="w-full px-2 sm:px-4 text-base sm:text-lg mt-3">
    <!-- Profile and name -->
    <div class="flex items-center space-x-3 mb-2">
        {% include "partials/components/_profile_picture.html" with u=comment.user %}
        <div class="flex justify-between py-1 w-full">
            <a class="font-semibold text-black cursor-pointer"
               href="{% url 'accounts:profile' comment.user.username %}">{{ comment.user.username }}</a>
            <div class="flex items-center space-x-2 sm:pr-2">
                <span class="text-neutral-content">{{ comment.created_at|time_ago }}</span>
                <span class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </span>
            </div>
        </div>
    </div>
    <!-- Comment Content -->
    <div class="w-full">
        <p class="text-base-content font-extralight">{{ comment.content }}</p>
        <!-- Image content if any -->
        {% if comment.comment_image.all %}
            {% include "accounts/partials/_comment_carousel.html" with cmt=comment %}
        {% endif %}
        <!-- Action btns -->
        {% include "thread/partials/_thread_actions.html" with username=comment.user.username id=comment.id is_cmt=1 %}
        <!-- Replys and likes-->
        <div class="flex text-neutral-content pt-2 space-x-2">
            {% if comment.comment_count > 0 %}
                <span class="cursor-pointer hover:underline">{{ comment.comment_count }}
                    {% if comment.comment_count > 1 %}
                        replies
                    {% else %}
                        reply
                    {% endif %}
                </span>
                <span>.</span>
            {% endif %}
            <span>{{ comment.likes_count }} like{{ comment.likes_count|pluralize }}</span>
        </div>
    </div>
</div>
