{% for u in page_obj %}
    {% if not u == user %}
        {% if forloop.last and page_obj.next_page_number %}
            <div class="flex pt-4 space-x-3 cursor-pointer"
                 hx-get="{% url 'thread:search' %}?page={{ page_obj.next_page_number }}"
                 hx-trigger="intersect once"
                 hx-indicator="#more-search-indicator"
                 hx-sync="#search:abort"
                 hx-swap="afterend">{% include "thread/htmx/partials/_avatar.html" with u=u show_follower=True %}</div>
        {% elif forloop.last %}
            <div class="flex pt-4 space-x-3 cursor-pointer">
                {% include "thread/htmx/partials/_avatar.html" with u=u show_follower=True %}
            </div>
            <div class="text-center">That's all.</div>
        {% else %}
            <div class="flex pt-4 space-x-3 cursor-pointer">
                {% include "thread/htmx/partials/_avatar.html" with u=u show_follower=True %}
            </div>
        {% endif %}
    {% elif u == user and forloop.last %}
        <div class="text-center">That's all.</div>
    {% endif %}
{% empty %}
    <dir>No profiles found.</dir>
{% endfor %}
