@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: flex;
}
.htmx-request.htmx-indicator {
  display: flex;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.my-max-h {
  max-height: calc(100vh - 84px);
}

/* Smapp profiles */
.smps-1 {
  @apply w-5 sm:w-7;
}

.smps-2 {
  @apply w-4 sm:w-6;
}

.smps-3 {
  @apply w-3 sm:w-5;
}

.smp-1 {
  @apply absolute bottom-1 left-[1px];
}

.smp-2 {
  @apply absolute right-1 bottom-0;
}

.smp-3 {
  @apply absolute top-0 -left-[10px];
}

.reddot {
  @apply rounded-full w-3 h-3 bg-red-600 absolute top-6 left-14;
}
