{% load extra %}
<!-- Thread Post -->
<div class="w-full flex px-2 sm:px-4 space-x-2 sm:space-x-4 text-base sm:text-lg">
    <!-- Left -->
    <div>
        {% if thread.threader.myuser.profile_picture %}
            <div class="avatar">
                <div class="w-10 sm:w-14 rounded-full">
                    <img src="{{ thread.threader.myuser.profile_picture.url }}" alt="Profile" />
                </div>
            </div>
        {% else %}
            <div class="avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-10 sm:w-14">
                    <span class="text-xs uppercase sm:text-base">{{ thread.threader.username|ecut }}</span>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Right -->
    <div class="w-full">
        <!-- Right first row-->
        <div class="flex justify-between py-1">
            <div class="font-semibold text-black">{{ thread.threader.username }}</div>
            <div class="flex items-center space-x-2 sm:pr-2">
                <span class="text-neutral-content">{{ thread.created_at|time_ago }}</span>
                <span class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                    </svg>
                </span>
            </div>
        </div>
        <!-- Right text content -->
        <p class="text-base-content font-extralight">{{ thread.content }}</p>
        <!-- Right Image content if any -->
        {% if thread.image_thread.all %}
            {% include "thread/partials/_thread_carousel.html" with thread=thread %}
        {% endif %}
        <!-- Action btns -->
        {% include "thread/partials/_thread_actions.html" %}
        <!-- Replys and likes-->
        <div class="flex text-neutral-content pt-2 space-x-2">
            {% if thread.rethread_count > 0 %}
                <span>{{ thread.rethread_count }}
                    {% if thread.rethread_count > 1 %}
                        replies
                    {% else %}
                        reply
                    {% endif %}
                </span>
                <span>.</span>
            {% endif %}
            <span>{{ thread.likes_count }} like{{ thread.likes_count|pluralize }}</span>
        </div>
    </div>
</div>
