{% load extra %}
<!-- Upper unit -->
<div class="upper-unit flex px-2 sm:px-4 space-x-3 sm:space-x-4 text-base sm:text-lg mt-2 ">
    <!-- Left -->
    <div class="flex flex-col items-center">
        {% include "partials/components/_profile_picture.html" with u=user %}
        <div class="bg-neutral-content w-[2px] grow my-3 z-10"></div>
        {% if user.myuser.profile_picture %}
            <div class="avatar opacity-30 smallter">
                <div class="w-5 sm:w-7 rounded-full">
                    <img src="{% thumbnail user.myuser.profile_picture '1920' as im %}{{ im.url }}{% endthumbnail %}"
                         srcset="{% thumbnail user.myuser.profile_picture '640' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}, {% thumbnail user.myuser.profile_picture '768' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}, {% thumbnail user.myuser.profile_picture '1024' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}, {% thumbnail user.myuser.profile_picture '1280' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}, {% thumbnail user.myuser.profile_picture '1536' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                         alt="Profile picture of {{ user.username }}"
                         sizes="100vw"
                         width="{{ im.width }}"
                         height="{{ im.height }}"
                         class="w-full" />
                </div>
            </div>
        {% else %}
            <div class="avatar placeholder opacity-30 smallter">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-5 sm:w-7">
                    <span class="text-xs uppercase">{{ user.username|ecut }}</span>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Right -->
    <div class="w-full ">
        <!-- Username-->
        <div class="flex w-full justify-between">
            <div class="font-semibold text-black">{{ user.username }}</div>
            <span class="text-gray-400 text-lg px-2 cursor-pointer delete-unit">x</span>
        </div>
        <!-- Form inner unit -->
        <div class="flex flex-col mt-3 space-y-2 inner-unit">
            <textarea name="content"
                      placeholder="Say more..."
                      autofocus
                      width="100%"
                      height="auto"
                      maxlength="420"
                      class="content border-none no-scrollbar focus:outline-none focus:border-none h-auto resize-none"></textarea>
            <!-- Paper clip -->
            <div class="clip">
                <label>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
                    </svg>
                    <input type="file"
                           name="thread_images"
                           accept="image/*"
                           multiple
                           class="hidden thread-images">
                </label>
            </div>
            <!-- Image container -->
            <div class="carousel carousel-center min-w-full p-4 pl-12 -ml-12 space-x-2 sm:space-x-4 bg-white rounded-box hidden transition new-thread-image-container">
            </div>
            <!-- Image count -->
            <input type="number" name="image_count" value=0 hidden class="image-count">
            <!-- Paddind dude -->
            <div class="opacity-0 pb-6"></div>
            <!-- Att btn-->
            <div class="flex items-center space-x-3 att-parent">
                <button class="text-gray-200 w-fit att"
                        hx-get="{% url 'thread:get_thread_form_unit' %}"
                        hx-swap="beforeend"
                        disabled
                        hx-indicator="#att-indicator"
                        hx-target="#unit-container">Add to thread</button>
                <div id="att-indicator" class="htmx-indicator">
                    <svg width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <style>.spinner_qM83{animation:spinner_8HQG 1.05s infinite}.spinner_oXPr{animation-delay:.1s}.spinner_ZTLf{animation-delay:.2s}@keyframes spinner_8HQG{0%,57.14%{animation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)}28.57%{animation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)}100%{transform:translate(0)}}</style><circle class="spinner_qM83" cx="4" cy="12" r="3" /><circle class="spinner_qM83 spinner_oXPr" cx="12" cy="12" r="3" /><circle class="spinner_qM83 spinner_ZTLf" cx="20" cy="12" r="3" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
